<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-white">
      <!-- text "Conecte-se connosco nas redes sociais:" -->
      <div class="d-none d-lg-block"></div>
  
      <!-- social media icons -->
      <div>
        <button href="#" class="me-2 btn btn-danger"><i class="fab fa-facebook-f"></i></button>
        <button href="#" class="me-2 btn btn-danger"><i class="fab fa-twitter"></i></button>
        <button href="#" class="me-2 btn btn-danger"><i class="fab fa-instagram"></i></button>
        <button href="#" class="btn btn-danger"><i class="fab fa-linkedin"></i></button>
      </div>
    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start">
        <!-- line -->
        <div class="row mt-3">
            <!-- Copyright -->
            <div class="text-center p-4 text-white dark">CrossFit Cards, 2021 © Todos os direitos reservados</div>
        </div>
      </div>
    </section>
  </footer>
