<div class="container border" style="background-color: #212529">
  <div class="row">

    <p></p>

    <!-- benefícios -->
    <div class="col-6 text-center my-auto">
      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-times" style="color: red; margin: 5px"></i> ADS</button>
      
      <br>

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> SINGLEPLAYER</button>

      <!-- <br>

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> MULTIPLAYER</button>-->

      <br> 

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> ORIGINAL CARDS</button>

      <br>
      <br>
      <br>

      <button type="button" class="btn btn-dark" style="font-size: xx-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> FREE</button>
    </div>

    <!-- sign in form -->
    <div class="col-6">
      <!-- row title -->
      <div class="row">

        <p></p>

        <!-- title "Iniciar Sessão" -->
        <h2 class="text-white text-center" style="margin-left: 15px;">Log In</h2>
      </div>

      <p></p>

      <!-- row form -->
      <div class="row">
        <form class="was-validated">
          <!-- email -->
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-white">E-mail</label>
            <input tabindex="190" required onblur="checkValidity('email', '@', 'E-mail invalid enter');" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your e-mail">

            <div class="invalid-feedback">Please enter your email.</div>
          </div>

          <br>

          <!-- password -->
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-white">Password</label>
            <input tabindex="200" required onblur="checkValidity('password', ' ', 'Password invalid enter');" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
        
            <small id="passwordHelp" class="form-text text-muted">Minimum: 6 characters.</small>

            <div class="invalid-feedback">Please enter your password.</div>
          </div>

          <br>

          <!-- button "iniciar sessão" -->
          <button tabindex="210" routerLink="/homepage" type="submit" class="btn btn-danger">Log In</button>

          <p></p>

          <!-- links -->
          <div class="form-group">
              <label class="text-white">Not have an account yet?</label><label>‎‎‎‏‏‎ ‎‏‏‎ ‎</label><a tabindex="220" routerLink="/register">Register</a>

              <p></p>

              <a tabindex="230" routerLink="#">Forget the password.</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <p></p>

</div>