<!-- container "training" -->
<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">
    <div class="row">

        <p></p>

        <!-- title "Modos de Jogo" -->
        <h2 class="text-white" style="margin-left: 15px;">Training</h2>
    </div>

    <div class="row justify-content-between" style="margin-left: 15px; margin-right: 15px;">

        <p></p>

         <!-- option global training -->
        <div class="col-2" routerLink="/homepage/singleplayer/#">
            <div tabindex="240" class="row">
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg">GLOBAL</button>
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg"><i class="fas fa-globe-americas fa-3x"></i></button>
            </div>
        </div>

        <!-- option leg training -->
        <div class="col-2" routerLink="/homepage/singleplayer/#">
            <div tabindex="250" class="row">
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg">LEG</button>
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg"><img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/ffffff/external-leg-health-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/></button>
            </div>
        </div>

        <!-- option upper body training -->
        <div class="col-3" routerLink="/homepage/singleplayer/#">
            <div tabindex="260" class="row">
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg">UPPER BODY</button>
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg"><img src="https://img.icons8.com/ios-filled/60/ffffff/torso.png"/></button>
            </div>
        </div>

        <!-- option core training -->
        <div class="col-2" routerLink="/homepage/singleplayer/#">
            <div tabindex="270" class="row">
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg">CORE</button>
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/60/ffffff/external-fitness-healthy-kiranshastry-solid-kiranshastry-1.png"/> <img src="https://img.icons8.com/ios-filled/60/ffffff/female-back.png"/></button>
            </div>
        </div>

        <!-- option cardio training -->
        <div class="col-2" routerLink="/homepage/singleplayer/#">
            <div tabindex="280" class="row">
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg">CARDIO</button>
                <button routerLink="/homepage/singleplayer/#" type="button" role="button" class="border btn btn-danger btn-lg"><i class="fas fa-heartbeat fa-3x"></i></button>
            </div>
        </div>
        <p></p>
    </div>
</div>

