<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- button menu -->
        <button tabindex="1" class="btn btn-danger" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="fas fa-bars"></i>
            Menu</button>

        <!-- title "CrossFit Cards" -->
        <a class="navbar-brand" routerLink="homepage">CrossFit Cards</a>

        <!-- dropdown account -->
        <div class="dropdown">
            <button tabindex="10" class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></button>
            <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                <li><a tabindex="80" class="dropdown-item" routerLink="/login" routerLinkActive="router-link-active"><i
                            class="fas fa-user-check"></i> Log In</a></li>
                <li><a tabindex="90" class="dropdown-item" routerLink="/register"><i
                            class="fas fa-user-plus"></i>Register</a></li>
            </ul>
        </div>
    </div>
</nav>



<!-- button menu sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel" style="margin-left: 150px;">Menu</h3>
        <button tabindex="19" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>


    <div class="row justify-content-between" style="margin-left: 15px; margin-right: 15px;">

        <button tabindex="20" style="font-size: 120%;" class="btn btn-lg btn-outline-primary options dropdown-item"
            (click)="open(mymodal)"><i class="fas fa-cog"></i> Options</button>

        <div class="dropdown-divider"></div>

        <div tabindex="30" class="dropdown-item" routerLink="/homepage/singleplayer" style="font-size: 120%;"><i
                class="fas fa-user"></i> SinglePlayer</div>
        <div tabindex="40" class="dropdown-item" routerLink="/homepage/singleplayer/3global" style="font-size: 120%;"><i
                class="fas fa-globe-americas"></i> Global</div>
        <div tabindex="41" class="dropdown-item" routerLink="/homepage/singleplayer/3leg" style="font-size: 120%;"><img
                src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/20/000000/external-leg-health-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />
            Leg</div>
        <div tabindex="42" class="dropdown-item" routerLink="/homepage/singleplayer/3upperbody"
            style="font-size: 120%;"><img src="https://img.icons8.com/ios-filled/20/000000/torso.png" /> Upper Body
        </div>
        <div tabindex="43" class="dropdown-item" routerLink="/homepage/singleplayer/3core" style="font-size: 120%;"><img
                src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/20/000000/external-fitness-healthy-kiranshastry-solid-kiranshastry-1.png" /><img
                src="https://img.icons8.com/ios-filled/20/000000/female-back.png" /> Core</div>
        <div tabindex="44" class="dropdown-item" routerLink="/homepage/singleplayer/3cardio" style="font-size: 120%;"><i
                class="fas fa-heartbeat"></i> Cardio</div>

        <!-- <div tabindex="40" class="dropdown-item" routerLink="#" style="font-size: 120%;"><i class="fas fa-users"></i> MultiPlayer</div> -->

        <div class="dropdown-divider"></div>

        <div id="buttonCreateDeck" tabindex="49" class="dropdown-item" (click)="open(modalCreateCards)"
            style="font-size: 120%;"><img src="https://img.icons8.com/ios-filled/20/000000/cards.png" /> Create Deck of
            Cards</div>

        <div class="dropdown-divider"></div>

        <div tabindex="50" class="dropdown-item" routerLink="/homepage/statistics" style="font-size: 120%;"><i
                class="far fa-chart-bar"></i> Statistics</div>

        <div class="dropdown-divider"></div>

        <div tabindex="60" class="dropdown-item" routerLink="/homepage/instructions" style="font-size: 120%;"><i
                class="fas fa-question"></i> Instructions</div>

        <div class="dropdown-divider"></div>

        <div tabindex="70" class="dropdown-item" (click)="open(modalAbout)" style="font-size: 120%;"><i
                class="fas fa-info"></i> About</div>

        <div class="dropdown-divider"></div>
    </div>
</div>

<ng-template #modalCreateCards let-modal>
    <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="modal-basic-title">Create Deck of Cards</h3>
        <button tabindex="160" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form style="margin: 15px;">
            <div class="form-group">
                <div class="input-group">
                    <input id="inputDeckName" tabindex="80" type="text" class="form-control" placeholder="Deck Name"
                        aria-label="Deck Name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button tabindex="90" class="btn btn-danger" type="button"><i class="fas fa-check"></i></button>
                    </div>
                </div>
            </div>
        </form>

        <br>

        <h5 style="margin: 15px;">Select cards</h5>

        <div class="row" style="margin: 15px;">
            <div class="col-12 border">
                <div class="form-check form-switch">
                    <input tabindex="100" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">last exercise 30 reps</label>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 15px;">
            <div class="col-5 border">
                <div class="form-check form-switch">
                    <input tabindex="101" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 2 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="102" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 3 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="103" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 4 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="104" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 5 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="105" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 6 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="106" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 7 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="107" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 8 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="108" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 9 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="109" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 10 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="110" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 11 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="111" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 12 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="112" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 13 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="113" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">squats 20 reps</label>
                </div>
            </div>


            <div class="col-7 border">
                <div class="form-check form-switch">
                    <input tabindex="114" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 2 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="115" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 3 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="116" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 4 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="117" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 5 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="118" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 6 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="119" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 7 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="120" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 8 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="121" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 9 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="122" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 10 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="123" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 11 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="124" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 12 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="125" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 13 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="126" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">jumping jacks 20 reps</label>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 15px;">
            <div class="col-5 border">
                <div class="form-check form-switch">
                    <input tabindex="127" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 2 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="128" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 3 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="129" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 4 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="130" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 5 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="131" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 6 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="132" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 7 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="133" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 8 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="134" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 9 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="135" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 10 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="136" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 11 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="137" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 12 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="138" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 13 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="139" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">sit-ups 20 reps</label>
                </div>
            </div>


            <div class="col-7 border">
                <div class="form-check form-switch">
                    <input tabindex="140" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 2 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="141" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 3 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="142" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 4 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="143" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 5 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="144" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 6 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="145" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 7 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="146" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 8 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="147" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 9 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="148" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 10 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="149" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 11 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="150" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 12 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="151" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 13 reps</label>
                </div>

                <div class="form-check form-switch">
                    <input tabindex="152" class="form-check-input" type="checkbox" value=""
                        id="flexSwitchCheckChecked1">
                    <label class="form-check-label" for="flexSwitchCheckChecked1">push up 20 reps</label>
                </div>
            </div>
        </div>

    </div>




    <div class="modal-footer">
        <button tabindex="25" type="button" class="btn btn-danger" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #modalAbout let-modal>
    <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="modal-basic-title">About</h3>
        <button tabindex="21" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>

    <h5 style="margin: 15px;">Version 2.11.12160.0</h5>

    <div tabindex="#" class="dropdown-item" style="font-size: 120%;"><i class="fas fa-lock"></i> Privacy Statement
    </div>

    <div tabindex="#" class="dropdown-item" style="font-size: 120%;"><i class="fas fa-file-alt"></i> Advertising
        Statement
    </div>

    <div tabindex="#" class="dropdown-item" style="font-size: 120%;"><i class="fas fa-file-alt"></i> Terms of Use
    </div>

    <div tabindex="#" class="dropdown-item" style="font-size: 120%;"><i class="fas fa-shopping-basket"></i> Product Page
    </div>



    <div class="modal-footer">
        <button tabindex="25" type="button" class="btn btn-danger" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="modal-basic-title">Options</h3>
        <button tabindex="21" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div style="margin: 17px;">
        <label for="customRange2" class="form-label">Sound</label>
        <input tabindex="22" type="range" class="form-range" min="0" max="100" step="1" id="customRange2">
    </div>
    <div class="form-check form-switch" style="margin: 17px;">
        <input tabindex="23" class="form-check-input" type="checkbox" value="" id="flexSwitchCheckChecked1" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked1">Tips</label>
    </div>
    <div class="form-check form-switch" style="margin: 17px;">
        <input tabindex="24" class="form-check-input" type="checkbox" value="" id="flexSwitchCheckChecked2" disabled>
        <label class="form-check-label" for="flexSwitchCheckChecked2">Animations (SOON)</label>
    </div>
    <div class="modal-footer">
        <button tabindex="25" type="button" class="btn btn-danger" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>