<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">

    <div class="row">

        <p></p>

        <!-- title "Instruções" -->
        <h2 class="text-white" style="margin-left: 15px;">Statistics</h2>
    </div>

    <div class="row justify-content-between" style="margin-left: 15px; margin-right: 15px;">
        <p></p>

        <div class="col-12">
            <div class="row">
                <button type="button" role="button" class="border btn btn-danger btn-lg"><i
                        class="fas fa-user fa-1x"></i> SINGLEPLAYER</button>
            </div>

            <div class="row border">

                <p></p>

                <div class="col-4">
                    <div class="dropdown" style="text-align:center;">
                        <button class="btn btn-danger" type="button"><img
                                src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/20/ffffff/external-leg-health-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />
                            Leg</button>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-white" style="float: left;">Total Time: </h3>
                            <h4 class="text-white" style="float: right;"> 7:48</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-white" style="float: left;">Break Time: </h3>
                            <h4 class="text-white" style="float: right;"> 1:30</h4>
                        </div>
                    </div>
                </div>

                <div class="col-4"></div>

                <div class="col-4">
                    <div class="dropdown" style="text-align: right;">
                        <button tabindex="10" class="btn btn-danger dropdown-toggle" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><img
                                src="https://img.icons8.com/material/24/ffffff/clubs.png" /> 2 Clubs</button>

                        <div class="dropdown-menu dropdown-multicol2" aria-labelledby="dropdownMenuButton2">
                            <div class="dropdown-col">
                                <li><a tabindex="20" class="dropdown-item" routerLink="#"
                                        routerLinkActive="router-link-active"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 2 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="30" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 3 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="40" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 4 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-col">
                                <li><a tabindex="50" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 5 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="60" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 6 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="70" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 7 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-col">
                                <li><a tabindex="80" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 8 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="90" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 9 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="100" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> 10 Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-col">
                                <li><a tabindex="110" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> A Clubs</a>
                                </li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="120" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> Jack
                                        Clubs</a></li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="130" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> King
                                        Clubs</a></li>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-col">
                                <li><a tabindex="140" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/clubs.png" /> Queen
                                        Clubs</a></li>
                            </div>

                            <div class="dropdown-col">
                                <li><a tabindex="150" class="dropdown-item" routerLink="#"><img
                                            src="https://img.icons8.com/material/24/000000/joker.png" /> Joker</a></li>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-white" style="float: left;">Total Time: </h3>
                            <h4 class="text-white" style="float: right;"> 1:00</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-white" style="float: left;">Break Time: </h3>
                            <h4 class="text-white" style="float: right;"> 0:30</h4>
                        </div>
                    </div>
                </div>

                <p></p>
            </div>
        </div>
    </div>
    <p></p>
</div>