.bg-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/172/039/original/dark-silver-gray-background-with-cards-signs-vector.jpg');
    width: 100%;
    height: auto;
    background-repeat: repeat;
}
