<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">
    <div class="row">

        <p></p>

        <!-- title "Instruções" -->
        <h2 class="text-white" style="margin-left: 15px;">Instructions</h2>
    </div>

    <div class="row justify-content-between" style="margin-left: 15px; margin-right: 15px;">

        <p></p>
        <p></p>

        <div class="col-3">
            <!-- title "Exercícios" -->
            <h3 class="text-white text-center">Exercises</h3>

            <br>

            <div class="row border">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/squats.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">Squats</h4>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/pushup.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">Push Up</h4>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/jumpingjacks.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">Jumping Jacks</h4>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/situps.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">Sit-ups</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-6">
            <!-- title "Exercícios" -->
            <h3 class="text-white text-center">Repetitions</h3>
            
            <br>

            <div class="row border">

                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/11.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">11 repetitions</h4>
                        </div>
                    </div>

                <br>

                <div class="row">
                    <div class="col-3">
                                <img class="img-thumbnail" src="../assets/symbols/12.png">
                    </div>

                    <div class="col-9 align-self-center">
                        <h4 class="text-white">12 repetitions</h4>
                    </div>
                </div>

                <br>

                <div class="row">
                            <div class="col-3">
                                <img class="img-thumbnail" src="../assets/symbols/13.png">
                            </div>

                            <div class="col-9 align-self-center">
                                <h4 class="text-white">13 repetitions</h4>
                            </div>
                </div>

                <br>

                <div class="row">
                            <div class="col-3">
                                <img class="img-thumbnail" src="../assets/symbols/a.png">
                            </div>

                            <div class="col-9 align-self-center">
                                <h4 class="text-white">20 repetitions</h4>
                            </div>
                </div>
                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/30.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">30 repetitions</h4>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-3">
                            <img class="img-thumbnail" src="../assets/symbols/numbers.png">
                        </div>

                        <div class="col-9 align-self-center">
                            <h4 class="text-white">number of repetitions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>