<!-- container "game" -->
<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">
    <div class="row justify-content-between">

        <p></p>

        <!-- Time -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <h1 class="text-white" >Time: 02:14</h1>
        </div>

        <!-- tip -->
        <div class="col text-center" style="margin-left: 5px;">
            <h3 class="text-white">Tip: jumping jack 13 reps</h3>
        </div>

        <!-- Time break -->
        <div class="col text-end" style="margin-right: 5px;">
            <h2 class="text-white">Time Break: 01:00</h2>
            <i class="fas fa-pause">aaa</i>
        </div>
    </div>

    <div class="row justify-content-between">

        <p></p>

        <!-- score -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <div class="row"> 
                <h3 class="text-white">Score: 40</h3>
            </div>
        </div>

        <!-- button pause -->
        <div class="col text-end" style="margin-right: 5px;">
            <div class="row"> 
                <i class="fas fa-pause">aaa</i>
            </div>
        </div>

        
        <p></p>
    </div>
</div>


