<!-- container "game" -->
<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">
    <div class="row justify-content-between">

        <p></p>

        <!-- Time -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <h1 class="text-white" >Time: 02:14</h1>
        </div>

        <!-- tip -->
        <div class="col text-center" style="margin-left: 5px;">
            <h3 class="text-white">Tip: jumping jack 13 reps</h3>
        </div>

        <!-- Time break -->
        <div class="col text-end" style="margin-right: 5px;">
            <h2 class="text-white">Time Break: 01:00</h2>
        </div>
    </div>

    <div class="row justify-content-between">

        <p></p>

        <!-- score -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <div class="row"> 
                <h3 class="text-white">Score: 40</h3>
            </div>
        </div>

        <!-- cards -->
        <div class="col text-center global-cards" style="margin-left: 5px;">
            
        </div>

        <!-- pause -->
        <div class="col text-end" style="margin-right: 5px;">
            <button tabindex="290" class="btn btn-danger" type="button"><i class="fas fa-pause" style="color: white;"></i></button>
        </div>
        <p></p>
    </div>

    <div class="row justify-content-between">
        <!-- Player -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <h3 class="text-white" >Player: Alice</h3>
        </div>

        <!-- button next -->
        <div class="col text-end" style="margin-right: 5px;">
            <button tabindex="290" class="btn btn-danger" type="button"><i class="fas fa-chevron-right fa-3x" style="color: white;"></i></button>
        </div>
        <p></p>
    </div>
</div>


