<!-- container "game" -->
<div class="container-fluid border" style="border-radius: 15px; background-color: #212529">
    <div class="row justify-content-between">

        <p></p>

        <!-- Time -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <h1 id="coreTimeGame" class="text-white">Time: </h1>
        </div>

        <!-- tip -->
        <div class="col text-center" style="margin-left: 5px;">
            <h3 class="text-white tip-core-cards"></h3>
        </div>

        <!-- Time break -->
        <div class="col text-end" style="margin-right: 5px;">
            <h2 class="text-white">Time Break: </h2>
            <h2 id="coreTimeBreak" class="text-white"></h2>
        </div>
    </div>

    <div class="row justify-content-between">

        <p></p>

        <!-- score -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <button id="corePlayTime" tabindex="289" class="btn btn-danger" type="button"><i class="fas fa-play" style="color: white;"></i></button>
            
            <p></p>

            <h3 id="divScore" class="text-white score-core-cards"></h3>
        </div>

        <!-- cards -->
        <div class="col text-center image-core-cards" style="margin-left: 5px;"></div>

        <!-- buttons play pause -->
        <div class="col text-end" style="margin-right: 5px;">
            <button id="corePlayBreak" tabindex="290" class="btn btn-danger" type="button"><i class="fas fa-play" style="color: white;"></i></button>
            <button id="corePauseBreak" tabindex="300" class="btn btn-danger" type="button"><i class="fas fa-pause" style="color: white;"></i></button>
        </div>
        <p></p>
    </div>

    <div class="row justify-content-between">
        <!-- Player -->
        <div class="col align-self-start" style="margin-left: 5px;">
            <h3 class="text-white">Player: Alice</h3>
        </div>

        <!-- button next -->
        <div class="col text-end" style="margin-right: 5px;">
            <button id="nextCard" onclick="refresh()" tabindex="290" class="btn btn-danger" type="button"><i class="fas fa-chevron-right fa-3x" style="color: white;"></i></button>
        </div>
        <p></p>
    </div>
</div>