<div class="container border" style="background-color: #212529">
  <div class="row">

    <p></p>

    <!-- benefícios -->
    <div class="col-6 text-center my-auto">
     <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-times" style="color: red; margin: 5px"></i> SEM ANÚNCIOS</button>
      
      <br>

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> SINGLEPLAYER</button>

      <br>

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> MULTIPLAYER</button>

      <br>

      <button type="button" class="btn btn-dark" style="font-size: x-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> CARTAS ORIGINAIS</button>

      <br>
      <br>
      <br>

      <button type="button" class="btn btn-dark" style="font-size: xx-large;"><i class="fas fa-check" style="color: forestgreen; margin: 5px"></i> É GRÁTIS</button>
    </div>

    <!-- create account form -->
    <div class="col-6">
      <!-- row title -->
      <div class="row">

        <p></p>

        <!-- title "Criar Conta" -->
        <h2 class="text-white text-center" style="margin-left: 15px;">Criar Conta</h2>
      </div>

      <p></p>

      <!-- row form -->
      <div class="row">
        <form class="was-validated">
          <!-- nome -->
          <div class="form-group">
            <label for="exampleInputName1" class="text-white">Nome</label>
            <input tabindex="130" required type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Introduza o seu nome">

            <div class="invalid-feedback">Por favor introduz o seu nome.</div>
          </div>

          <br>

          <!-- email -->
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-white">Email</label>
            <input tabindex="140" required onblur="checkValidity('email', '@', 'Email Inválido inserido');" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduza o seu email">

            <div class="invalid-feedback">Por favor introduz o seu email.</div>
          </div>

          <br>

          <!-- password -->
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-white">Palavra Passe</label>
            <input tabindex="150" required onblur="checkValidity('password', ' ', 'Palavra Passe Inválida inserida');" type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduza a sua Palavra Passe">
        
            <small id="passwordHelp" class="form-text text-muted">Mínimo: 6 caracteres.</small>

            <div class="invalid-feedback">Por favor introduz a sua palavra-passe.</div>
          </div>

          <br>

          <!-- confirm password -->
          <div class="form-group">
            <label for="exampleInputPassword2" class="text-white">Confirmar Palavra Passe</label>
            <input tabindex="160" required onblur="checkValidity('password', ' ', 'Palavra Passe Inválida inserida');" type="password" class="form-control" id="exampleInputPassword2" placeholder="Introduza a sua Palavra Passe">
        
            <small id="passwordHelp" class="form-text text-muted">Mínimo: 6 caracteres.</small>

            <div class="invalid-feedback">Por favor introduz a sua palavra-passe.</div>
          </div>

          <br>

          <!-- button "criar conta" -->
          <button tabindex="170" routerLink="/homepage" type="submit" class="btn btn-danger">Criar Conta</button>

          <p></p>

          <!-- links -->
          <div class="form-group">
              <label class="text-white">Já tem uma conta?</label><label>‎‎‎‏‏‎ ‎‏‏‎ ‎</label><a tabindex="180" routerLink="/iniciarsessao">Inicie Sessão</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <p></p>

</div>
